
<div class="row">
    <div>Pet: <%= event.pet.name %></div>
    <div>Kind: <%= event.kind %></div>
    <div>Happened: <%= event.happened_at.strftime("%Y-%m-%d %H:%M")%></div>
    <div>Notes: <%= event.notes %></div>
</div>