
<div class="row">
    <div>Pet: <%= event.pet.name %></div>
    <div>Kind: <%= event.kind %></div>
    <div>Happened: <%= show_local_time(event.happened_at) %></div>
    <div>Notes: <%= event.notes %></div>
</div>