
<div class="row">
    <div class="col">Kind: <%= event.kind %></div>
    <div class="col">Happened: <%= show_local_time(event.happened_at) %></div>
    <% if event.notes.present? %>
        <div class="col">Notes: <%= event.notes %></div>
    <% end %>
</div>