<div class="content">
    <% unless @events.present? %>
      <p>No events yet</p>
    <% else %>
      <% @events.each do |e| %>
        <div class="row">
          <span>Pet Name: <%= e.pet.name.titleize %></span>
          <span>Event: <%= e.kind.titleize %></span>
          <span>When: <%= e.happened_at %></span>
        </div>
      <% end %>
    <% end %>
</div>