<div class="container">
  <%# header 1 %>
  <div class="row text-center">
    <div class="col-12">
      <h2><%= @current_user.first_name.titleize %>'s Dashboard</h2>
    </div>
  </div>

  <%# header 2 %>
  <div class="row text-center">
    <div class="col-3 offset-4 col-lg-2 offset-lg-5 mt-5 mb-5">
      <%= select_tag "pets", options_for_select(@pets.map{|p|[p.name, p.id]} << ["Select", -1], -1) %>
    </div>
  </div>

  <%# Body %>
  <div class="row">
    <div class="col-lg-8 text-center event_form" style="display: none">
      <div class="row pb-5">
        <div class="col event-panel text-center border pb-4">
          <h4 class="border-bottom pb-2 mb-2">Add New Event</h4>
          <%= render "event/form", event: Event.new %>
        </div>
      </div>
      <div class="row mb-5 pb-5 charts" style="display: none;">
        <ul class="nav nav-tabs col-12" id="chartTabs">
          <li class="nav-tab chart active" id="potties-tab">Potties</li>
          <li class="nav-tab chart" id="poos-tab">Poos</li>
          <li class="nav-tab chart" id="pees-tab">Pees</li>
        </ul>
        <div class="tab-content col-12 border" id="myTabContent">
          <div id="chart-body" class="col-12">
            <div id="pet-chart" class="pet-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center" id="pet-info" style="display: none;">
    </div>
  </div>
</div>