<script>
  window.onload = function(){
    // add onclick to each pet
    document.querySelectorAll("[data-pet-item]").forEach((item) =>{
        item.addEventListener("click", function(){
            var panel = document.getElementById("pet-info");
            var req = new XMLHttpRequest();
            req.open( "GET", "/pet/" + item.attributes["data-id"].value + "/events", false ); // false for synchronous request
            req.send( null );
            
            panel.innerHTML = req.responseText;
            panel.style.display = "inline-block";

            $("[name='event[pet_id]']").val(item.attributes["data-id"].value);
            $(".event_form").show();
        }, false)
    });

    $('form').submit(function(){

      // Maybe show a loading indicator...

      $.post($(this).attr('action'), $(this).serialize(), function(res){
          // Do something with the response `res`
          console.log(res);
          // Don't forget to hide the loading indicator!
      });

      location.reload();
      return false; // prevent default action

  });
  }
</script>

<div class="content row">
  <div class="col-12">
    <h2><%= @current_user.first_name.titleize %>'s Dashboard</h4>
  </div>
  <div class="col-6 text-center">
    <div class="">
      <h4>Pet List</h4>
      <%= render "pet_list", pets: @pets %>
    </div>
    <div class="event_form border p-2">
      <%= render "event/form", event: Event.new %>
    </div>
  </div>
  <div id="pet-info" class="col-6" style="display:none;">
  </div>

</div>