/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *
 *
 *
  ---- ---- ---- ---- ----
  1. base
  2. buttons
  3. other
  4. Top Nav
  ---- ---- ---- ---- ----
 */

 /*
  ---- ---- ---- ---- ----
  base
  ---- ---- ---- ---- ----
 */

@import "bootstrap";
@import "rails_bootstrap_forms";

 :root {
   --white: #FCFFFC;
   --gray: #2D3A3A;
   --black: #040F0F;
   --dark-green: #248232;
   --light-green: #2BA84A;
   --error-pink: #f8d7da;
 }

 body {
  color: var(--gray);
  margin: 0;
  font-family: 'Ubuntu';
  font-size: 1rem;
  display: inline-block;
  width: 100%;
 }

 select {
  font-family: 'Ubuntu';
  width: 100%;
 }

 input {
   font-size: 16px;
   width: 100%;
 }

 div {
   font-family: inherit;
 }

 /*
  ---- ---- ---- ---- ----
  buttons
  ---- ---- ---- ---- ----
 */

 .btn {
   display: inline-block;
   min-width: 100px;
   padding: 10px 20px;
   font-family: inherit;
   font-size: 16px;
   font-weight: 400;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   color: var(--white);
   background-color: var(--light-green);
   border-radius: 5px;
 }

 .btn-secondary {
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--gray);
  border-radius: 5px;
 }

 /*
  ---- ---- ---- ---- ----
  other
  ---- ---- ---- ---- ----
 */

 .content {
    min-width: 400px;
    max-width: 1400px;
    padding: 20px 10px;
    background-color: var(--white);
    border-width: 5px;
    text-align: center;
    overflow: auto;
  }

  .column {
    min-width: 50px;
  }

  .field_with_errors {
    border-color: var(--error-pink);
    border-width: 5px;
    border-style: solid;

    margin: 10px 0;
    padding: 5px;
  }

  .error_explanations {
    font-size: 16px;
    background-color: var(--error-pink);
    border-color: var(--white);
    border-style: solid;
    border-width: 5px;
    margin: 10px 0;
    padding: 5px;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
  

  /* ---- ---- ----
     Top Nav
  */

  .top-nav {
    background-color: var(--gray);
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .top-nav a, .top-nav p {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-item {
    display: block;
    transition-duration: 0.5s;
    color: var(--white);
  }

  .top-nav-dropdown {
    overflow: hidden;
  }

  .top-nav a:hover, .top-nav p:hover {
    background-color: var(--light-green);
    color: var(--white);
  }

  .top-nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--gray);
    color: var(--white);
    min-width: 160px;
    z-index: 1;
  }

  .top-nav-dropdown:hover .top-nav-dropdown-content {
    display: block;
  }

  .top-nav li a:hover {
    background-color: var(--light-green);
  }
