<% if model.present? && model.errors.messages.any? %>
<div class="errors">
  <ul>
    <% model.errors.messages.each do |msg| %>
      <li><b><%= msg[0] %></b>: <%= msg[1] %></li>
    <% end %>
  </ul>
</div>
<% end %>