<ul>
  <li><a href="<%= dashboard_path %>">Home</a></li>
  <li><a href="<%= pet_index_path %>">Pets</a></li>
  <li class="float-right"><a href="<%= logout_path %>">Logout</a></li>
  <li class="float-right"><a href="<%= %>">Settings</a></li>
</ul>