<div class="content">
    <% unless @pets.present? %>
      <p>No pets yet</p>
    <% else %>
      <% @pets.each do |p| %>
        <div class="row">
          <span>Name: <%= p.name %></span>
          <span>Kind: <%= p.kind %></span>
          <span>Breed: <%= p.breed %></span>
          <span>Birthday: <%= p.birthday %></span>
        </div>
      <% end %>
    <% end %>
</div>