<style>
  .content {
    min-width: 400px;
    max-width: 1400px;
    padding: 20px 10px;
    background-color: gray;
    border-style: solid;
    border-size: 5px;
  }
</style>

<div class="content">
  <h2><%= @pet.name %></h2>
</div>